<div>
    <h3>{{ vm.header }}</h3>

    <!-- <p>Link para compartilhar a sessão: {{ vm.linkShareable }}</p> -->

    <button ng-click="vm.iniciarFecharSessao()">{{ vm.sessionIsOpen ? 'Fechar sessão' : 'Abrir sessão' }}</button>

    <button ng-disabled="!vm.sessionIsOpen" ng-click="vm.iniciarPararGravacao()">{{ vm.sessionIsRecording ? 'Parar gravação' : 'Inicar gravação' }}</button>
</div>

<div>
    <div class="videos-container" id="videos">
        <div class="videos-item" id="subscriber"></div>
        <div class="videos-item" id="publisher"></div>
    </div>
</div>