<section>
  <!-- <div>
    <div class="videos-container" id="videos">
        <div class="videos-item" id="remote-video"></div>
        <div class="videos-item" id="local-video"></div>
    </div>
  </!-->
  <!-- <p id="remote-video-text"></p> -->
  <p id="link-to-share">
    Link para compartilhar a chamada: {{ vm.linkShareable }}
  </p>
  <div class="videos-container" id="videos">
    <div id="remote-video" autoplay playsinline></div>
    <div id="moveable">
      <!-- <p id="local-video-text">Sem webcam</p> -->
      <div id="local-video" autoplay muted playsinline></div>
    </div>
  </div>

  <div class="multi-button">
    <div class="buttonContainer">
      <button class="hoverButton" ng-click="vm.iniciarFecharSessao()">
        <i
          ng-class=" vm.sessionIsRecording ? 'fas fa-stop fa-xs' : 'fas fa-play fa-xs'"
          id="play-icon"
        ></i>
      </button>
      <div class="HoverState" id="play-text">
        {{ vm.sessionIsRecording ? 'Parar sessão' : 'Inicar sessão' }}
      </div>
    </div>

    <div class="buttonContainer">
      <button class="hoverButton" ng-click=" vm.muteMicrophone() ">
        <i id="mic-icon" class="fas fa-microphone fa-xs"></i>
      </button>
      <div class="HoverState" id="mic-text">Desligar mic.</div>
    </div>

    <div class="buttonContainer">
      <button class="hoverButton" ng-click=" vm.pauseVideo() ">
        <i class="fas fa-video fa-xs" id="video-icon"></i>
      </button>
      <div class="HoverState" id="video-text">Desligar webcam</div>
    </div>

    <div class="buttonContainer">
      <button class="hoverButton" ng-click=" vm.test() ">
        <i class="fas fa-plus fa-xs" id="video-icon"></i>
      </button>
      <div class="HoverState" id="video-text">Teste</div>
    </div>

    <div class="buttonContainer">
      <button class="hoverButton" onclick="{window.location.href = '/'}">
        <i class="fas fa-phone-slash fa-xs"></i>
      </button>
      <div class="HoverState">Finalizar chamada</div>
    </div>
  </div>
</section>
