* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, html {
    background-color: gray;
    height: 100%;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    z-index: 10;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 30px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#buttonholder{
    position: absolute;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    bottom: 2px;
    left: 20px;
    z-index: 200;
}
